* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: rgb(7, 7, 7);
  color: #ffffff;
}

h2 {
  color: #f3f3f3;
  font-size: 48px;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
}

.card{
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #31363f;
  border-radius: 10px;
  min-height: 100px
}

button {
  padding: 10px 20px;
  background-color: transparent; 
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
  font-size: 30px;
}